<h1 mat-dialog-title>Update: {{container.old.id}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="container.new.category" [formControl]="category" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="container.new.name" [formControl]="name" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="container.new.description" [formControl]="description" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Units</mat-label>
    <input matInput type="number" [(ngModel)]="container.new.units" [formControl]="units" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="container" 
  [disabled] = "category.invalid || name.invalid || description.invalid || units.invalid" 
  cdkFocusInitial>Ok</button>
</div>